{
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "swagger": "2.0",
  "info": {
    "description": "Lamoda Seller Gateway service",
    "title": "Lamoda Seller Gateway service",
    "version": "1.0.0"
  },
  "host": "seller-gateway.service.lamoda.tech",
  "basePath": "/jsonrpc",
  "paths": {
    "/v1/async-api-request.get": {
      "post": {
        "description": "Returns a price update request details",
        "tags": [
          "jsonrpc2"
        ],
        "operationId": "v1.async_api_request.get",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "jsonrpc",
                "id"
              ],
              "properties": {
                "id": {
                  "type": "string",
                  "maxLength": 36,
                  "minLength": 36,
                  "x-nullable": false,
                  "example": "550e8400-e29b-41d4-a716-446655440000"
                },
                "jsonrpc": {
                  "type": "string",
                  "pattern": "2\\.0",
                  "x-nullable": false,
                  "example": "2.0"
                },
                "method": {
                  "type": "string",
                  "x-nullable": false,
                  "example": "v1.async-request.get"
                },
                "params": {
                  "$ref": "#/definitions/AsyncApiRequestGetRequest"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a async request details",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/BaseResponse"
                },
                {
                  "type": "object",
                  "properties": {
                    "result": {
                      "$ref": "#/definitions/AsyncApiRequestInformation"
                    }
                  }
                }
              ]
            }
          }
        }
      }
    },
    "/v1/attribute-dictionaries.list": {
      "post": {
        "tags": [
          "jsonrpc2"
        ],
        "operationId": "v1.attribute-dictionaries.list",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "jsonrpc",
                "id",
                "method"
              ],
              "properties": {
                "id": {
                  "type": "string",
                  "maxLength": 36,
                  "minLength": 36,
                  "x-nullable": false,
                  "example": "550e8400-e29b-41d4-a716-446655440000"
                },
                "jsonrpc": {
                  "type": "string",
                  "pattern": "2\\.0",
                  "x-nullable": false,
                  "example": "2.0"
                },
                "method": {
                  "type": "string",
                  "enum": [
                    "v1.attribute-dictionaries.list"
                  ],
                  "x-nullable": false,
                  "example": "v1.attribute-dictionaries.list"
                },
                "params": {
                  "$ref": "#/definitions/AttributeDictionariesListRequestBody"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/AttributeDictionariesListResponseBody"
          }
        }
      }
    },
    "/v1/attributes-dictionaries-mappings.get": {
      "post": {
        "tags": [
          "jsonrpc2"
        ],
        "operationId": "attributes.dictionaries.mapping",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "jsonrpc",
                "id",
                "method"
              ],
              "properties": {
                "jsonrpc": {
                  "type": "string",
                  "pattern": "2\\.0",
                  "x-nullable": false,
                  "example": "2.0"
                },
                "method": {
                  "type": "string",
                  "enum": [
                    "v1.attributes.dictionaries.mapping"
                  ],
                  "x-nullable": false,
                  "example": "v1.attributes.dictionaries.mapping"
                },
                "params": {
                  "$ref": "#/definitions/DictionaryMappingRequestBody"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/DictionariesMappingResponseBody"
          }
        }
      }
    },
    "/v1/attributes.list": {
      "post": {
        "tags": [
          "jsonrpc2"
        ],
        "operationId": "v1.attributes.list",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "jsonrpc",
                "id",
                "method"
              ],
              "properties": {
                "id": {
                  "type": "string",
                  "maxLength": 36,
                  "minLength": 36,
                  "x-nullable": false,
                  "example": "550e8400-e29b-41d4-a716-446655440000"
                },
                "jsonrpc": {
                  "type": "string",
                  "pattern": "2\\.0",
                  "x-nullable": false,
                  "example": "2.0"
                },
                "method": {
                  "type": "string",
                  "enum": [
                    "v1.attributes.list"
                  ],
                  "x-nullable": false,
                  "example": "v1.attributes.list"
                },
                "params": {
                  "$ref": "#/definitions/AttributesListRequestBody"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/AttributesListResponseBody"
          }
        }
      }
    },
    "/v1/attributes.sku.list": {
      "post": {
        "tags": [
          "jsonrpc2"
        ],
        "operationId": "v1.attributes.sku.list",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "jsonrpc",
                "id",
                "method"
              ],
              "properties": {
                "id": {
                  "type": "string",
                  "maxLength": 36,
                  "minLength": 36,
                  "x-nullable": false,
                  "example": "550e8400-e29b-41d4-a716-446655440000"
                },
                "jsonrpc": {
                  "type": "string",
                  "pattern": "2\\.0",
                  "x-nullable": false,
                  "example": "2.0"
                },
                "method": {
                  "type": "string",
                  "enum": [
                    "v1.attributes.sku.list"
                  ],
                  "x-nullable": false,
                  "example": "v1.attributes.sku.list"
                },
                "params": {
                  "$ref": "#/definitions/AttributesSkuListRequestBody"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/AttributesSkuListResponseBody"
          }
        }
      }
    },
    "/v1/brands.list": {
      "post": {
        "description": "Returns a list of brands",
        "tags": [
          "jsonrpc2"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "jsonrpc",
                "id"
              ],
              "properties": {
                "id": {
                  "type": "string",
                  "maxLength": 36,
                  "minLength": 36,
                  "x-nullable": false,
                  "example": "550e8400-e29b-41d4-a716-446655440000"
                },
                "jsonrpc": {
                  "type": "string",
                  "pattern": "2\\.0",
                  "x-nullable": false,
                  "example": "2.0"
                },
                "method": {
                  "type": "string",
                  "x-nullable": false,
                  "example": "brands.list"
                },
                "params": {
                  "$ref": "#/definitions/PromoPartnerRequestBody"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/BrandsListResponseBody"
          }
        }
      }
    },
    "/v1/categories.list": {
      "post": {
        "description": "Returns a list of axapta categories",
        "tags": [
          "jsonrpc2"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "jsonrpc",
                "id"
              ],
              "properties": {
                "id": {
                  "type": "string",
                  "maxLength": 36,
                  "minLength": 36,
                  "x-nullable": false,
                  "example": "550e8400-e29b-41d4-a716-446655440000"
                },
                "jsonrpc": {
                  "type": "string",
                  "pattern": "2\\.0",
                  "x-nullable": false,
                  "example": "2.0"
                },
                "method": {
                  "type": "string",
                  "x-nullable": false,
                  "example": "categories.list"
                },
                "params": {
                  "$ref": "#/definitions/PromoPartnerRequestBody"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/CategoriesListResponseBody"
          }
        }
      }
    },
    "/v1/category.list": {
      "post": {
        "description": "Get axapta category list",
        "tags": [
          "jsonrpc2",
          "Stock"
        ],
        "operationId": "v1.category.list",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "jsonrpc",
                "id",
                "method",
                "params"
              ],
              "properties": {
                "id": {
                  "type": "string",
                  "x-nullable": false,
                  "example": "550e8400-e29b-41d4-a716-446655440000"
                },
                "jsonrpc": {
                  "type": "string",
                  "pattern": "2\\.0",
                  "x-nullable": false,
                  "example": "2.0"
                },
                "method": {
                  "type": "string",
                  "x-nullable": false,
                  "example": "v1.category.list"
                },
                "params": {
                  "$ref": "#/definitions/CategoryListParams"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns axapta categories",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/BaseResponse"
                },
                {
                  "type": "object",
                  "properties": {
                    "result": {
                      "$ref": "#/definitions/CategoryListResponse"
                    }
                  }
                }
              ]
            }
          }
        }
      }
    },
    "/v1/dictionaries.get": {
      "post": {
        "tags": [
          "jsonrpc2"
        ],
        "operationId": "v1.dictionaries.get",
        "parameters": [
          {
            "type": "string",
            "name": "Authorization",
            "in": "header"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "jsonrpc",
                "id",
                "method",
                "params"
              ],
              "properties": {
                "id": {
                  "type": "string",
                  "maxLength": 36,
                  "minLength": 36,
                  "x-nullable": false,
                  "example": "550e8400-e29b-41d4-a716-446655440000"
                },
                "jsonrpc": {
                  "type": "string",
                  "pattern": "2\\.0",
                  "x-nullable": false,
                  "example": "2.0"
                },
                "method": {
                  "type": "string",
                  "enum": [
                    "v1.dictionaries.get"
                  ],
                  "x-nullable": false,
                  "example": "v1.dictionaries.get"
                },
                "params": {
                  "type": "object",
                  "x-nullable": false,
                  "example": {}
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/DictionariesGetResponseBody"
          }
        }
      }
    },
    "/v1/erp-categories.list": {
      "post": {
        "tags": [
          "jsonrpc2"
        ],
        "operationId": "v1.erp-categories.list",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "jsonrpc",
                "id",
                "method"
              ],
              "properties": {
                "id": {
                  "type": "string",
                  "maxLength": 36,
                  "minLength": 36,
                  "x-nullable": false,
                  "example": "550e8400-e29b-41d4-a716-446655440000"
                },
                "jsonrpc": {
                  "type": "string",
                  "pattern": "2\\.0",
                  "x-nullable": false,
                  "example": "2.0"
                },
                "method": {
                  "type": "string",
                  "enum": [
                    "v1.erp-categories.list"
                  ],
                  "x-nullable": false,
                  "example": "v1.erp-categories.list"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ErpCategoriesListResponseBody"
          }
        }
      }
    },
    "/v1/exports.create": {
      "post": {
        "tags": [
          "jsonrpc2"
        ],
        "operationId": "v1.exports.create",
        "parameters": [
          {
            "type": "string",
            "name": "Authorization",
            "in": "header"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "jsonrpc",
                "id",
                "method",
                "params"
              ],
              "properties": {
                "id": {
                  "type": "string",
                  "maxLength": 36,
                  "minLength": 36,
                  "x-nullable": false,
                  "example": "550e8400-e29b-41d4-a716-446655440000"
                },
                "jsonrpc": {
                  "type": "string",
                  "pattern": "2\\.0",
                  "x-nullable": false,
                  "example": "2.0"
                },
                "method": {
                  "type": "string",
                  "enum": [
                    "v1.exports.create"
                  ],
                  "x-nullable": false,
                  "example": "v1.exports.create"
                },
                "params": {
                  "$ref": "#/definitions/ExportsParams"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ExportsCreateResponseBody"
          }
        }
      }
    },
    "/v1/exports.list": {
      "post": {
        "tags": [
          "jsonrpc2"
        ],
        "operationId": "v1.exports.list",
        "parameters": [
          {
            "type": "string",
            "name": "Authorization",
            "in": "header"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "jsonrpc",
                "id",
                "method",
                "params"
              ],
              "properties": {
                "id": {
                  "type": "string",
                  "maxLength": 36,
                  "minLength": 36,
                  "x-nullable": false,
                  "example": "550e8400-e29b-41d4-a716-446655440000"
                },
                "jsonrpc": {
                  "type": "string",
                  "pattern": "2\\.0",
                  "x-nullable": false,
                  "example": "2.0"
                },
                "method": {
                  "type": "string",
                  "enum": [
                    "v1.exports.list"
                  ],
                  "x-nullable": false,
                  "example": "v1.exports.list"
                },
                "params": {
                  "$ref": "#/definitions/ExportsListRequestBody"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ExportsListResponseBody"
          }
        }
      }
    },
    "/v1/fbo/warehouse.list": {
      "post": {
        "description": "Get warehouse list",
        "tags": [
          "jsonrpc2"
        ],
        "operationId": "v1.fbo.warehouse.list",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "jsonrpc",
                "id",
                "method",
                "params"
              ],
              "properties": {
                "id": {
                  "type": "string",
                  "x-nullable": false,
                  "example": "550e8400-e29b-41d4-a716-446655440000"
                },
                "jsonrpc": {
                  "type": "string",
                  "pattern": "2\\.0",
                  "x-nullable": false,
                  "example": "2.0"
                },
                "method": {
                  "type": "string",
                  "x-nullable": false,
                  "example": "v1.fbo.warehouse.list"
                },
                "params": {
                  "$ref": "#/definitions/GetWarehouseListParams"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns warehouse list info",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/BaseResponse"
                },
                {
                  "type": "object",
                  "properties": {
                    "result": {
                      "$ref": "#/definitions/WarehouseListResult"
                    }
                  }
                }
              ]
            }
          }
        }
      }
    },
    "/v1/fbs/order/pack.list": {
      "post": {
        "tags": [
          "internal api"
        ],
        "operationId": "v1.fbs.order.pack.list",
        "parameters": [
          {
            "type": "string",
            "name": "Authorization",
            "in": "header"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "jsonrpc",
                "id",
                "method",
                "params"
              ],
              "properties": {
                "id": {
                  "type": "string",
                  "maxLength": 36,
                  "minLength": 36,
                  "x-nullable": false,
                  "example": "550e8400-e29b-41d4-a716-446655440000"
                },
                "jsonrpc": {
                  "type": "string",
                  "pattern": "2\\.0",
                  "x-nullable": false,
                  "example": "2.0"
                },
                "method": {
                  "type": "string",
                  "enum": [
                    "fbs/order/pack.list"
                  ],
                  "x-nullable": false,
                  "example": "fbs/order/pack.list"
                },
                "params": {
                  "$ref": "#/definitions/FbsOrderPackListRequestBody"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/FbsOrderPackListResponseBody"
          }
        }
      }
    },
    "/v1/files.get": {
      "post": {
        "tags": [
          "jsonrpc2"
        ],
        "operationId": "v1.files-get",
        "parameters": [
          {
            "type": "string",
            "name": "Authorization",
            "in": "header"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "jsonrpc",
                "id",
                "method",
                "params"
              ],
              "properties": {
                "id": {
                  "type": "string",
                  "maxLength": 36,
                  "minLength": 36,
                  "x-nullable": false,
                  "example": "0497e07a-abab-47b6-960b-620c248ab4c2"
                },
                "jsonrpc": {
                  "type": "string",
                  "pattern": "2\\.0",
                  "x-nullable": false,
                  "example": "2.0"
                },
                "method": {
                  "type": "string",
                  "enum": [
                    "v1.files.get"
                  ],
                  "x-nullable": false,
                  "example": "v1.files.get"
                },
                "params": {
                  "$ref": "#/definitions/FilesInfoBody"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/FilesInfoResponse"
          }
        }
      }
    },
    "/v1/imports.list": {
      "post": {
        "tags": [
          "jsonrpc2"
        ],
        "operationId": "v1.imports.list",
        "parameters": [
          {
            "type": "string",
            "name": "Authorization",
            "in": "header"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "jsonrpc",
                "id",
                "method",
                "params"
              ],
              "properties": {
                "id": {
                  "type": "string",
                  "maxLength": 36,
                  "minLength": 36,
                  "x-nullable": false,
                  "example": "550e8400-e29b-41d4-a716-446655440000"
                },
                "jsonrpc": {
                  "type": "string",
                  "pattern": "2\\.0",
                  "x-nullable": false,
                  "example": "2.0"
                },
                "method": {
                  "type": "string",
                  "enum": [
                    "v1.imports.list"
                  ],
                  "x-nullable": false,
                  "example": "v1.imports.list"
                },
                "params": {
                  "$ref": "#/definitions/ImportsListRequestBody"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ImportsListResponseBody"
          }
        }
      }
    },
    "/v1/label-items.get": {
      "post": {
        "tags": [
          "jsonrpc2"
        ],
        "operationId": "v1.label-items.get",
        "parameters": [
          {
            "type": "string",
            "name": "Authorization",
            "in": "header"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "jsonrpc",
                "id",
                "method",
                "params"
              ],
              "properties": {
                "id": {
                  "type": "string",
                  "maxLength": 36,
                  "minLength": 36,
                  "x-nullable": false,
                  "example": "550e8400-e29b-41d4-a716-446655440000"
                },
                "jsonrpc": {
                  "type": "string",
                  "pattern": "2\\.0",
                  "x-nullable": false,
                  "example": "2.0"
                },
                "method": {
                  "type": "string",
                  "enum": [
                    "v1.label-items.get"
                  ],
                  "x-nullable": false,
                  "example": "v1.label-items.get"
                },
                "params": {
                  "$ref": "#/definitions/LabelItemsGetRequestBody"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/LabelItemsGetResponseBody"
          }
        }
      }
    },
    "/v1/label-packs.get": {
      "post": {
        "tags": [
          "internal api"
        ],
        "operationId": "v1.label-packs.get",
        "parameters": [
          {
            "type": "string",
            "name": "Authorization",
            "in": "header"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "jsonrpc",
                "id",
                "method",
                "params"
              ],
              "properties": {
                "id": {
                  "type": "string",
                  "maxLength": 36,
                  "minLength": 36,
                  "x-nullable": false,
                  "example": "550e8400-e29b-41d4-a716-446655440000"
                },
                "jsonrpc": {
                  "type": "string",
                  "pattern": "2\\.0",
                  "x-nullable": false,
                  "example": "2.0"
                },
                "method": {
                  "type": "string",
                  "enum": [
                    "v1.label-packs.get"
                  ],
                  "x-nullable": false,
                  "example": "v1.label-packs.get"
                },
                "params": {
                  "$ref": "#/definitions/LabelPacksGetRequestBody"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/LabelPacksGetResponseBody"
          }
        }
      }
    },
    "/v1/label-pallets.get": {
      "post": {
        "tags": [
          "internal api"
        ],
        "operationId": "v1.label-pallets.get",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "jsonrpc",
                "id",
                "method",
                "params"
              ],
              "properties": {
                "id": {
                  "type": "string",
                  "maxLength": 36,
                  "minLength": 36,
                  "x-nullable": false,
                  "example": "550e8400-e29b-41d4-a716-446655440000"
                },
                "jsonrpc": {
                  "type": "string",
                  "pattern": "2\\.0",
                  "x-nullable": false,
                  "example": "2.0"
                },
                "method": {
                  "type": "string",
                  "enum": [
                    "v1.label-pallets.get"
                  ],
                  "x-nullable": false,
                  "example": "v1.label-pallets.get"
                },
                "params": {
                  "$ref": "#/definitions/JsonRpcV1LabelPalletsGetParams"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/V1LabelPalletsGetResponseBody"
          }
        }
      }
    },
    "/v1/matching-manager/price-index/products-list-export": {
      "post": {
        "description": "Возвращает файл со списком товаров для заданного продавца",
        "tags": [
          "price-index"
        ],
        "operationId": "v1.matching-manager.price-index.products-list-export",
        "parameters": [
          {
            "type": "string",
            "name": "Authorization",
            "in": "header"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "jsonrpc",
                "id",
                "method"
              ],
              "properties": {
                "id": {
                  "type": "string",
                  "maxLength": 36,
                  "minLength": 36,
                  "x-nullable": false,
                  "example": "550e8400-e29b-41d4-a716-446655440000"
                },
                "jsonrpc": {
                  "type": "string",
                  "pattern": "2\\.0",
                  "x-nullable": false,
                  "example": "2.0"
                },
                "method": {
                  "type": "string",
                  "enum": [
                    "v1.matching-manager.price-index.products-list-export"
                  ],
                  "x-nullable": false,
                  "example": "v1.matching-manager.price-index.products-list-export"
                },
                "params": {
                  "$ref": "#/definitions/PriceIndexProductsListExportRequestParams"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/PriceIndexProductsListExportResponseBody"
          }
        }
      }
    },
    "/v1/matching-manager/price-index/products-list-export.check": {
      "post": {
        "description": "Проверка готовности заявки на формирование файла для экспорта",
        "tags": [
          "price-index"
        ],
        "operationId": "v1.matching-manager.price-index.products-list-export.check",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "jsonrpc",
                "id",
                "method",
                "params"
              ],
              "properties": {
                "id": {
                  "type": "string",
                  "maxLength": 36,
                  "minLength": 36,
                  "x-nullable": false,
                  "example": "550e8400-e29b-41d4-a716-446655440000"
                },
                "jsonrpc": {
                  "type": "string",
                  "pattern": "2\\.0",
                  "x-nullable": false,
                  "example": "2.0"
                },
                "method": {
                  "type": "string",
                  "enum": [
                    "v1.matching-manager.price-index.products-list-export.check"
                  ],
                  "x-nullable": false,
                  "example": "v1.matching-manager.price-index.products-list-export.check"
                },
                "params": {
                  "$ref": "#/definitions/PriceIndexProductsListExportCheckRequestParams"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/PriceIndexProductsListExportCheckResponseBody"
          }
        }
      }
    },
    "/v1/matching-manager/price-index/products-list-export.create": {
      "post": {
        "description": "Создание заявки на формирование файла для экспорта",
        "tags": [
          "price-index"
        ],
        "operationId": "v1.matching-manager.price-index.products-list-export.create",
        "parameters": [
          {
            "type": "string",
            "name": "Authorization",
            "in": "header"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "jsonrpc",
                "id",
                "method"
              ],
              "properties": {
                "id": {
                  "type": "string",
                  "maxLength": 36,
                  "minLength": 36,
                  "x-nullable": false,
                  "example": "550e8400-e29b-41d4-a716-446655440000"
                },
                "jsonrpc": {
                  "type": "string",
                  "pattern": "2\\.0",
                  "x-nullable": false,
                  "example": "2.0"
                },
                "method": {
                  "type": "string",
                  "enum": [
                    "v1.matching-manager.price-index.products-list-export.create"
                  ],
                  "x-nullable": false,
                  "example": "v1.matching-manager.price-index.products-list-export.create"
                },
                "params": {
                  "$ref": "#/definitions/PriceIndexProductsListExportCreateRequestParams"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/PriceIndexProductsListExportCreateResponseBody"
          }
        }
      }
    },
    "/v1/matching-manager/price-index/products.list": {
      "post": {
        "description": "Подробный список товаров партнера. Можно сортировать, фильтровать и пагинировать список.",
        "tags": [
          "price-index"
        ],
        "operationId": "v1.matching-manager.price-index.products.list",
        "parameters": [
          {
            "type": "string",
            "name": "Authorization",
            "in": "header"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "jsonrpc",
                "id",
                "method",
                "params"
              ],
              "properties": {
                "id": {
                  "type": "string",
                  "maxLength": 36,
                  "minLength": 36,
                  "x-nullable": false,
                  "example": "550e8400-e29b-41d4-a716-446655440000"
                },
                "jsonrpc": {
                  "type": "string",
                  "pattern": "2\\.0",
                  "x-nullable": false,
                  "example": "2.0"
                },
                "method": {
                  "type": "string",
                  "enum": [
                    "v1.matching-manager.price-index.products.list"
                  ],
                  "x-nullable": false,
                  "example": "v1.matching-manager.price-index.products.list"
                },
                "params": {
                  "$ref": "#/definitions/ProductListRequestParams"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/PriceIndexProductsListResponseBody"
          }
        }
      }
    },
    "/v1/matching-manager/price-index/settings.get": {
      "post": {
        "description": "Получение настроек и значений по прайс индексам",
        "tags": [
          "price-index"
        ],
        "operationId": "v1.matching-manager.price-index.settings.get",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "jsonrpc",
                "id",
                "method",
                "params"
              ],
              "properties": {
                "id": {
                  "type": "string",
                  "maxLength": 36,
                  "minLength": 36,
                  "x-nullable": false,
                  "example": "550e8400-e29b-41d4-a716-446655440000"
                },
                "jsonrpc": {
                  "type": "string",
                  "pattern": "2\\.0",
                  "x-nullable": false,
                  "example": "2.0"
                },
                "method": {
                  "type": "string",
                  "enum": [
                    "v1.matching-manager.price-index.settings.get"
                  ],
                  "x-nullable": false,
                  "example": "v1.matching-manager.price-index.settings.get"
                },
                "params": {
                  "$ref": "#/definitions/PriceIndexSettingsGetRequestParams"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/PriceIndexSettingsGetResponseBody"
          }
        }
      }
    },
    "/v1/matching-manager/price-index/total.get": {
      "post": {
        "description": "Подробный прайс индекс по всем товарам селлера",
        "tags": [
          "price-index"
        ],
        "operationId": "v1.matching-manager.price-index.total.get",
        "parameters": [
          {
            "type": "string",
            "name": "Authorization",
            "in": "header"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "jsonrpc",
                "id",
                "method",
                "params"
              ],
              "properties": {
                "id": {
                  "type": "string",
                  "maxLength": 36,
                  "minLength": 36,
                  "x-nullable": false,
                  "example": "550e8400-e29b-41d4-a716-446655440000"
                },
                "jsonrpc": {
                  "type": "string",
                  "pattern": "2\\.0",
                  "x-nullable": false,
                  "example": "2.0"
                },
                "method": {
                  "type": "string",
                  "enum": [
                    "v1.matching-manager.price-index.total.get"
                  ],
                  "x-nullable": false,
                  "example": "v1.matching-manager.price-index.total.get"
                },
                "params": {
                  "$ref": "#/definitions/ProductsPriceIndexGetRequestParams"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ProductsPriceIndexGetResponseBody"
          }
        }
      }
    },
    "/v1/matching-manager/rfc/competitor-price-create.upload": {
      "post": {
        "description": "Массово добавить цену на товары на площадках конкурентов",
        "tags": [
          "rfc"
        ],
        "operationId": "v1.matching-manager.rfc.competitor-price-create.upload",
        "parameters": [
          {
            "type": "string",
            "name": "Authorization",
            "in": "header"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "jsonrpc",
                "id",
                "method",
                "params"
              ],
              "properties": {
                "id": {
                  "type": "string",
                  "maxLength": 36,
                  "minLength": 36,
                  "x-nullable": false,
                  "example": "550e8400-e29b-41d4-a716-446655440000"
                },
                "jsonrpc": {
                  "type": "string",
                  "pattern": "2\\.0",
                  "x-nullable": false,
                  "example": "2.0"
                },
                "method": {
                  "type": "string",
                  "enum": [
                    "v1.matching-manager.rfc.competitor-price-create.upload"
                  ],
                  "x-nullable": false,
                  "example": "v1.matching-manager.rfc.competitor-price-create.upload"
                },
                "params": {
                  "$ref": "#/definitions/RFCCompetitorPriceCreateUploadRequestParams"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/RFCCompetitorPriceCreateUploadResponseBody"
          }
        }
      }
    },
    "/v1/matching-manager/rfc/competitor-price.create": {
      "post": {
        "description": "Добавление товара на определенной площадке конкурента для сравнения",
        "tags": [
          "rfc"
        ],
        "operationId": "v1.matching-manager.rfc.competitor-price.create",
        "parameters": [
          {
            "type": "string",
            "name": "Authorization",
            "in": "header"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "jsonrpc",
                "id",
                "method",
                "params"
              ],
              "properties": {
                "id": {
                  "type": "string",
                  "maxLength": 36,
                  "minLength": 36,
                  "x-nullable": false,
                  "example": "550e8400-e29b-41d4-a716-446655440000"
                },
                "jsonrpc": {
                  "type": "string",
                  "pattern": "2\\.0",
                  "x-nullable": false,
                  "example": "2.0"
                },
                "method": {
                  "type": "string",
                  "enum": [
                    "v1.matching-manager.rfc.competitor-price.create"
                  ],
                  "x-nullable": false,
                  "example": "v1.matching-manager.rfc.competitor-price.create"
                },
                "params": {
                  "$ref": "#/definitions/RFCCompetitorPriceCreateRequestParams"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/RFCCompetitorPriceCreateResponseBody"
          }
        }
      }
    },
    "/v1/matching-manager/settings.get": {
      "post": {
        "description": "Получение настроек и значений для страницы селлера",
        "tags": [
          "settings"
        ],
        "operationId": "v1.matching-manager.settings.get",
        "parameters": [
          {
            "type": "string",
            "name": "Authorization",
            "in": "header"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "jsonrpc",
                "id",
                "method"
              ],
              "properties": {
                "id": {
                  "type": "string",
                  "maxLength": 36,
                  "minLength": 36,
                  "x-nullable": false,
                  "example": "550e8400-e29b-41d4-a716-446655440000"
                },
                "jsonrpc": {
                  "type": "string",
                  "pattern": "2\\.0",
                  "x-nullable": false,
                  "example": "2.0"
                },
                "method": {
                  "type": "string",
                  "enum": [
                    "v1.matching-manager.settings.get"
                  ],
                  "x-nullable": false,
                  "example": "v1.matching-manager.settings.get"
                },
                "params": {
                  "$ref": "#/definitions/SettingsGetRequestParams"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/SettingsGetResponseBody"
          }
        }
      }
    },
    "/v1/nomenclature-images.list": {
      "post": {
        "tags": [
          "jsonrpc2"
        ],
        "operationId": "v1.nomenclature-images.list",
        "parameters": [
          {
            "type": "string",
            "name": "Authorization",
            "in": "header"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "jsonrpc",
                "id",
                "method",
                "params"
              ],
              "properties": {
                "id": {
                  "type": "string",
                  "maxLength": 36,
                  "minLength": 36,
                  "x-nullable": false,
                  "example": "550e8400-e29b-41d4-a716-446655440000"
                },
                "jsonrpc": {
                  "type": "string",
                  "pattern": "2\\.0",
                  "x-nullable": false,
                  "example": "2.0"
                },
                "method": {
                  "type": "string",
                  "enum": [
                    "v1.nomenclature-images.list"
                  ],
                  "x-nullable": false,
                  "example": "v1.nomenclature-images.list"
                },
                "params": {
                  "$ref": "#/definitions/NomenclatureImagesListRequestBody"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/NomenclatureImagesListResponseBody"
          }
        }
      }
    },
    "/v1/nomenclature.auto-conversion-price.calculate": {
      "post": {
        "tags": [
          "jsonrpc2"
        ],
        "operationId": "v1.nomenclature.auto-conversion-price.calculate",
        "parameters": [
          {
            "type": "string",
            "name": "Authorization",
            "in": "header"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "jsonrpc",
                "id",
                "method",
                "params"
              ],
              "properties": {
                "id": {
                  "type": "string",
                  "maxLength": 36,
                  "minLength": 36,
                  "x-nullable": false,
                  "example": "550e8400-e29b-41d4-a716-446655440000"
                },
                "jsonrpc": {
                  "type": "string",
                  "pattern": "2\\.0",
                  "x-nullable": false,
                  "example": "2.0"
                },
                "method": {
                  "type": "string",
                  "enum": [
                    "v1.nomenclature.auto-conversion-price.calculate"
                  ],
                  "x-nullable": false,
                  "example": "v1.nomenclature.auto-conversion-price.calculate"
                },
                "params": {
                  "$ref": "#/definitions/NomenclatureAutoConversionPriceCalculateRequestBody"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/NomenclatureAutoConversionPriceCalculateResponseBody"
          }
        }
      }
    },
    "/v1/nomenclature.hide-moderation": {
      "post": {
        "tags": [
          "jsonrpc2"
        ],
        "operationId": "v1.nomenclature.hide-moderation",
        "parameters": [
          {
            "type": "string",
            "name": "Authorization",
            "in": "header"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "jsonrpc",
                "id",
                "method",
                "params"
              ],
              "properties": {
                "id": {
                  "type": "string",
                  "maxLength": 36,
                  "minLength": 36,
                  "x-nullable": false,
                  "example": "550e8400-e29b-41d4-a716-446655440000"
                },
                "jsonrpc": {
                  "type": "string",
                  "pattern": "2\\.0",
                  "x-nullable": false,
                  "example": "2.0"
                },
                "method": {
                  "type": "string",
                  "enum": [
                    "v1.nomenclature.hide-moderation"
                  ],
                  "x-nullable": false,
                  "example": "v1.nomenclature.hide-moderation"
                },
                "params": {
                  "x-nullable": false,
                  "$ref": "#/definitions/NomenclatureModerationHideRequestBody"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/NomenclatureModerationHideResponseBody"
          }
        }
      }
    },
    "/v1/nomenclature.list": {
      "post": {
        "tags": [
          "internal api"
        ],
        "operationId": "jsonrpc.v1.nomenclature.list",
        "parameters": [
          {
            "type": "string",
            "name": "Authorization",
            "in": "header"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "jsonrpc",
                "id",
                "method",
                "params"
              ],
              "properties": {
                "id": {
                  "type": "string",
                  "maxLength": 36,
                  "minLength": 36,
                  "x-nullable": false,
                  "example": "550e8400-e29b-41d4-a716-446655440000"
                },
                "jsonrpc": {
                  "type": "string",
                  "pattern": "2\\.0",
                  "x-nullable": false,
                  "example": "2.0"
                },
                "method": {
                  "type": "string",
                  "enum": [
                    "v1.nomenclature.list"
                  ],
                  "x-nullable": false,
                  "example": "v1.nomenclature.list"
                },
                "params": {
                  "$ref": "#/definitions/JsonRpcV1NomenclaturesListParams"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/JsonRpcV1NomenclaturesListResponseBody"
          }
        }
      }
    },
    "/v1/nomenclature.set-price": {
      "post": {
        "tags": [
          "jsonrpc2"
        ],
        "operationId": "v1.nomenclature.set-price",
        "parameters": [
          {
            "type": "string",
            "name": "Authorization",
            "in": "header"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "jsonrpc",
                "id",
                "method",
                "params"
              ],
              "properties": {
                "id": {
                  "type": "string",
                  "maxLength": 36,
                  "minLength": 36,
                  "x-nullable": false,
                  "example": "550e8400-e29b-41d4-a716-446655440000"
                },
                "jsonrpc": {
                  "type": "string",
                  "pattern": "2\\.0",
                  "x-nullable": false,
                  "example": "2.0"
                },
                "method": {
                  "type": "string",
                  "enum": [
                    "v1.nomenclature.set-price"
                  ],
                  "x-nullable": false,
                  "example": "v1.nomenclature.set-price"
                },
                "params": {
                  "x-nullable": false,
                  "$ref": "#/definitions/NomenclatureSetPriceRequestBody"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/NomenclatureSetPriceResponseBody"
          }
        }
      }
    },
    "/v1/nomenclature.set-price-promo": {
      "post": {
        "tags": [
          "jsonrpc2"
        ],
        "operationId": "v1.nomenclature.set-price-promo",
        "parameters": [
          {
            "type": "string",
            "name": "Authorization",
            "in": "header"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "jsonrpc",
                "id",
                "method",
                "params"
              ],
              "properties": {
                "id": {
                  "type": "string",
                  "maxLength": 36,
                  "minLength": 36,
                  "x-nullable": false,
                  "example": "550e8400-e29b-41d4-a716-446655440000"
                },
                "jsonrpc": {
                  "type": "string",
                  "pattern": "2\\.0",
                  "x-nullable": false,
                  "example": "2.0"
                },
                "method": {
                  "type": "string",
                  "enum": [
                    "v1.nomenclature.set-price-promo"
                  ],
                  "x-nullable": false,
                  "example": "v1.nomenclature.set-price-promo"
                },
                "params": {
                  "x-nullable": false,
                  "$ref": "#/definitions/NomenclatureSetPriceRequestBody"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/NomenclatureSetPriceResponseBody"
          }
        }
      }
    },
    "/v1/nomenclature.update-price": {
      "post": {
        "tags": [
          "jsonrpc2"
        ],
        "operationId": "v1.nomenclature.update-price",
        "parameters": [
          {
            "type": "string",
            "name": "Authorization",
            "in": "header"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "jsonrpc",
                "id",
                "method",
                "params"
              ],
              "properties": {
                "id": {
                  "type": "string",
                  "maxLength": 36,
                  "minLength": 36,
                  "x-nullable": false,
                  "example": "550e8400-e29b-41d4-a716-446655440000"
                },
                "jsonrpc": {
                  "type": "string",
                  "pattern": "2\\.0",
                  "x-nullable": false,
                  "example": "2.0"
                },
                "method": {
                  "type": "string",
                  "enum": [
                    "v1.nomenclature.update-price"
                  ],
                  "x-nullable": false,
                  "example": "v1.nomenclature.update-price"
                },
                "params": {
                  "$ref": "#/definitions/NomenclatureUpdatePriceRequestBody"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/definitions/NomenclatureUpdatePriceResponseBody"
          }
        }
      }
    },
    "/v1/nomenclature.validate-price": {
      "post": {
        "tags": [
          "jsonrpc2"
        ],
        "operationId": "v1.nomenclature.validate-price",
        "parameters": [
          {
            "type": "string",
            "name": "Authorization",
            "in": "header"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "jsonrpc",
                "id",
                "method",
                "params"
              ],
              "properties": {
                "id": {
                  "type": "string",
                  "maxLength": 36,
                  "minLength": 36,
                  "x-nullable": false,
                  "example": "550e8400-e29b-41d4-a716-446655440000"
                },
                "jsonrpc": {
                  "type": "string",
                  "pattern": "2\\.0",
                  "x-nullable": false,
                  "example": "2.0"
                },
                "method": {
                  "type": "string",
                  "enum": [
                    "v1.nomenclature.set-price"
                  ],
                  "x-nullable": false,
                  "example": "v1.nomenclature.set-price"
                },
                "params": {
                  "x-nullable": false,
                  "$ref": "#/definitions/NomenclatureValidatePriceRequestBody"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/NomenclatureValidatePriceResponseBody"
          }
        }
      }
    },
    "/v1/nomenclature/image.list": {
      "post": {
        "tags": [
          "internal api"
        ],
        "operationId": "v1.nomenclature.image.list",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "jsonrpc",
                "id",
                "method",
                "params"
              ],
              "properties": {
                "id": {
                  "type": "string",
                  "maxLength": 36,
                  "minLength": 36,
                  "x-nullable": false,
                  "example": "550e8400-e29b-41d4-a716-446655440000"
                },
                "jsonrpc": {
                  "type": "string",
                  "pattern": "2\\.0",
                  "x-nullable": false,
                  "example": "2.0"
                },
                "method": {
                  "type": "string",
                  "enum": [
                    "v1.nomenclature.image.list"
                  ],
                  "x-nullable": false,
                  "example": "v1.nomenclature.image.list"
                },
                "params": {
                  "$ref": "#/definitions/JsonRpcV1NomenclatureImageListParams"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/JsonRpcV1NomenclatureImageListResponseBody"
          }
        }
      }
    },
    "/v1/nomenclatures-metadata.count-by-statuses": {
      "get": {
        "tags": [
          "jsonrpc2"
        ],
        "operationId": "v1.nomenclatures-metadata.count-by-statuses",
        "parameters": [
          {
            "type": "string",
            "name": "Authorization",
            "in": "header"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "jsonrpc",
                "id",
                "method",
                "params"
              ],
              "properties": {
                "id": {
                  "type": "string",
                  "maxLength": 36,
                  "minLength": 36,
                  "x-nullable": false,
                  "example": "550e8400-e29b-41d4-a716-446655440000"
                },
                "jsonrpc": {
                  "type": "string",
                  "pattern": "2\\.0",
                  "x-nullable": false,
                  "example": "2.0"
                },
                "method": {
                  "type": "string",
                  "enum": [
                    "v1.nomenclatures-metadata.count-by-statuses"
                  ],
                  "x-nullable": false,
                  "example": "v1.nomenclatures-metadata.count-by-statuses"
                },
                "params": {
                  "$ref": "#/definitions/NomenclaturesMetadataStatusRequestBody"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/NomenclaturesMetadataStatusResponseBody"
          }
        }
      }
    },
    "/v1/nomenclatures-metadata.get-axapta-categories": {
      "post": {
        "tags": [
          "jsonrpc2"
        ],
        "operationId": "v1.nomenclatures-metadata.get-axapta-categories",
        "parameters": [
          {
            "type": "string",
            "name": "Authorization",
            "in": "header"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "jsonrpc",
                "id",
                "method",
                "params"
              ],
              "properties": {
                "id": {
                  "type": "string",
                  "maxLength": 36,
                  "minLength": 36,
                  "x-nullable": false,
                  "example": "550e8400-e29b-41d4-a716-446655440000"
                },
                "jsonrpc": {
                  "type": "string",
                  "pattern": "2\\.0",
                  "x-nullable": false,
                  "example": "2.0"
                },
                "method": {
                  "type": "string",
                  "enum": [
                    "v1.nomenclatures.metadata.get-axapta-categories"
                  ],
                  "x-nullable": false,
                  "example": "v1.nomenclatures.metadata.get-axapta-categories"
                },
                "params": {
                  "$ref": "#/definitions/NomenclaturesMetadataAxaptaCategoryRequestBody"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/NomenclaturesMetadataAxaptaCategoriesResponseBody"
          }
        }
      }
    },
    "/v1/nomenclatures-metadata.get-brands": {
      "post": {
        "tags": [
          "jsonrpc2"
        ],
        "operationId": "v1.nomenclatures-metadata.get-brands",
        "parameters": [
          {
            "type": "string",
            "name": "Authorization",
            "in": "header"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "jsonrpc",
                "id",
                "method",
                "params"
              ],
              "properties": {
                "id": {
                  "type": "string",
                  "maxLength": 36,
                  "minLength": 36,
                  "x-nullable": false,
                  "example": "550e8400-e29b-41d4-a716-446655440000"
                },
                "jsonrpc": {
                  "type": "string",
                  "pattern": "2\\.0",
                  "x-nullable": false,
                  "example": "2.0"
                },
                "method": {
                  "type": "string",
                  "enum": [
                    "v1.nomenclatures-metadata.get-brands"
                  ],
                  "x-nullable": false,
                  "example": "v1.nomenclatures-metadata.get-brands"
                },
                "params": {
                  "$ref": "#/definitions/NomenclaturesMetadataBrandsRequestBody"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/NomenclaturesMetadataBrandsResponseBody"
          }
        }
      }
    },
    "/v1/nomenclatures.auto-conversion-prices.get": {
      "post": {
        "tags": [
          "jsonrpc2"
        ],
        "operationId": "v1.nomenclatures.auto-conversion-prices.get",
        "parameters": [
          {
            "type": "string",
            "name": "Authorization",
            "in": "header"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "jsonrpc",
                "id",
                "method",
                "params"
              ],
              "properties": {
                "id": {
                  "type": "string",
                  "maxLength": 36,
                  "minLength": 36,
                  "x-nullable": false,
                  "example": "550e8400-e29b-41d4-a716-446655440000"
                },
                "jsonrpc": {
                  "type": "string",
                  "pattern": "2\\.0",
                  "x-nullable": false,
                  "example": "2.0"
                },
                "method": {
                  "type": "string",
                  "enum": [
                    "v1.nomenclatures.auto-conversion-prices.get"
                  ],
                  "x-nullable": false,
                  "example": "v1.nomenclatures.auto-conversion-prices.get"
                },
                "params": {
                  "$ref": "#/definitions/NomenclaturesAutoConversionPricesRequestBody"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/NomenclaturesAutoConversionPricesResponseBody"
          }
        }
      }
    },
    "/v1/nomenclatures.list": {
      "post": {
        "tags": [
          "jsonrpc2"
        ],
        "operationId": "v1.nomenclatures.list",
        "parameters": [
          {
            "type": "string",
            "name": "Authorization",
            "in": "header"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "jsonrpc",
                "id",
                "method",
                "params"
              ],
              "properties": {
                "id": {
                  "type": "string",
                  "maxLength": 36,
                  "minLength": 36,
                  "x-nullable": false,
                  "example": "550e8400-e29b-41d4-a716-446655440000"
                },
                "jsonrpc": {
                  "type": "string",
                  "pattern": "2\\.0",
                  "x-nullable": false,
                  "example": "2.0"
                },
                "method": {
                  "type": "string",
                  "enum": [
                    "v1.nomenclatures.list"
                  ],
                  "x-nullable": false,
                  "example": "v1.nomenclatures.list"
                },
                "params": {
                  "$ref": "#/definitions/NomenclaturesListRequestBody"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/NomenclaturesListResponseBody"
          }
        }
      }
    },
    "/v1/nomenclatures.prices-approve": {
      "post": {
        "tags": [
          "internal api"
        ],
        "operationId": "nomenclatures.prices-approve",
        "parameters": [
          {
            "type": "string",
            "name": "Authorization",
            "in": "header"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "jsonrpc",
                "id",
                "method",
                "params"
              ],
              "properties": {
                "id": {
                  "type": "string",
                  "maxLength": 36,
                  "minLength": 36,
                  "x-nullable": false,
                  "example": "e2fdd224-3cc0-4cd3-9566-0ad84e16c33e"
                },
                "jsonrpc": {
                  "type": "string",
                  "pattern": "2\\.0",
                  "x-nullable": false,
                  "example": "2.0"
                },
                "method": {
                  "type": "string",
                  "enum": [
                    "nomenclatures.prices-approve"
                  ],
                  "x-nullable": false,
                  "example": "nomenclatures.prices-approve"
                },
                "params": {
                  "$ref": "#/definitions/NomenclaturesPricesApproveRequestBody"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/definitions/NomenclaturesPricesApproveResponseBody"
          }
        }
      }
    },
    "/v1/nomenclatures.set-prices": {
      "post": {
        "tags": [
          "jsonrpc2"
        ],
        "operationId": "v1.nomenclatures-set-prices",
        "parameters": [
          {
            "type": "string",
            "name": "Authorization",
            "in": "header"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "jsonrpc",
                "id",
                "method",
                "params"
              ],
              "properties": {
                "id": {
                  "type": "string",
                  "maxLength": 36,
                  "minLength": 36,
                  "x-nullable": false,
                  "example": "550e8400-e29b-41d4-a716-446655440000"
                },
                "jsonrpc": {
                  "type": "string",
                  "pattern": "2\\.0",
                  "x-nullable": false,
                  "example": "2.0"
                },
                "method": {
                  "type": "string",
                  "enum": [
                    "v1.nomenclatures.set-prices"
                  ],
                  "x-nullable": false,
                  "example": "v1.nomenclatures.set-prices"
                },
                "params": {
                  "$ref": "#/definitions/NomenclaturesSetPricesRequestBody"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/NomenclaturesSetPricesResponse"
          }
        }
      }
    },
    "/v1/nomenclatures.store": {
      "post": {
        "tags": [
          "jsonrpc2"
        ],
        "operationId": "v1.nomenclatures.store",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "jsonrpc",
                "id",
                "method"
              ],
              "properties": {
                "id": {
                  "type": "string",
                  "maxLength": 36,
                  "minLength": 36,
                  "x-nullable": false,
                  "example": "550e8400-e29b-41d4-a716-446655440000"
                },
                "jsonrpc": {
                  "type": "string",
                  "pattern": "2\\.0",
                  "x-nullable": false,
                  "example": "2.0"
                },
                "method": {
                  "type": "string",
                  "enum": [
                    "v1.nomenclatures.store"
                  ],
                  "x-nullable": false,
                  "example": "v1.nomenclatures.store"
                },
                "params": {
                  "$ref": "#/definitions/NomenclaturesStoreRequestBody"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/NomenclaturesStoreResponse"
          }
        }
      }
    },
    "/v1/nomenclatures.update-activation": {
      "post": {
        "tags": [
          "jsonrpc2"
        ],
        "operationId": "v1.nomenclatures-update-activation",
        "parameters": [
          {
            "type": "string",
            "name": "Authorization",
            "in": "header"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "jsonrpc",
                "id",
                "method",
                "params"
              ],
              "properties": {
                "id": {
                  "type": "string",
                  "maxLength": 36,
                  "minLength": 36,
                  "x-nullable": false,
                  "example": "550e8400-e29b-41d4-a716-446655440000"
                },
                "jsonrpc": {
                  "type": "string",
                  "pattern": "2\\.0",
                  "x-nullable": false,
                  "example": "2.0"
                },
                "method": {
                  "type": "string",
                  "enum": [
                    "v1.nomenclatures.update-activation"
                  ],
                  "x-nullable": false,
                  "example": "v1.nomenclatures.update-activation"
                },
                "params": {
                  "$ref": "#/definitions/NomenclaturesUpdateActivationRequestBody"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/NomenclaturesUpdateActivationResponse"
          }
        }
      }
    },
    "/v1/nomenclatures.update-price": {
      "post": {
        "tags": [
          "jsonrpc2"
        ],
        "operationId": "v1.nomenclatures-update-price",
        "parameters": [
          {
            "type": "string",
            "name": "Authorization",
            "in": "header"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "jsonrpc",
                "id",
                "method",
                "params"
              ],
              "properties": {
                "id": {
                  "type": "string",
                  "maxLength": 36,
                  "minLength": 36,
                  "x-nullable": false,
                  "example": "550e8400-e29b-41d4-a716-446655440000"
                },
                "jsonrpc": {
                  "type": "string",
                  "pattern": "2\\.0",
                  "x-nullable": false,
                  "example": "2.0"
                },
                "method": {
                  "type": "string",
                  "enum": [
                    "v1.nomenclatures.update-price"
                  ],
                  "x-nullable": false,
                  "example": "v1.nomenclatures.update-price"
                },
                "params": {
                  "$ref": "#/definitions/NomenclaturesUpdatePriceRequestBody"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/NomenclaturesUpdatePriceResponse"
          }
        }
      }
    },
    "/v1/nomenclatures.update-stock": {
      "post": {
        "tags": [
          "jsonrpc2"
        ],
        "operationId": "v1.nomenclatures-update-stock",
        "parameters": [
          {
            "type": "string",
            "name": "Authorization",
            "in": "header"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "jsonrpc",
                "id",
                "method",
                "params"
              ],
              "properties": {
                "id": {
                  "type": "string",
                  "maxLength": 36,
                  "minLength": 36,
                  "x-nullable": false,
                  "example": "550e8400-e29b-41d4-a716-446655440000"
                },
                "jsonrpc": {
                  "type": "string",
                  "pattern": "2\\.0",
                  "x-nullable": false,
                  "example": "2.0"
                },
                "method": {
                  "type": "string",
                  "enum": [
                    "v1.nomenclatures.update-stock"
                  ],
                  "x-nullable": false,
                  "example": "v1.nomenclatures.update-stock"
                },
                "params": {
                  "$ref": "#/definitions/NomenclaturesUpdateStockRequestBody"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/NomenclaturesUpdateStockResponse"
          }
        }
      }
    },
    "/v1/offer-statuses.list": {
      "post": {
        "tags": [
          "jsonrpc2"
        ],
        "operationId": "v1.offer-statuses.list",
        "parameters": [
          {
            "type": "string",
            "name": "Authorization",
            "in": "header"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "jsonrpc",
                "id",
                "method",
                "params"
              ],
              "properties": {
                "id": {
                  "type": "string",
                  "maxLength": 36,
                  "minLength": 36,
                  "x-nullable": false,
                  "example": "550e8400-e29b-41d4-a716-446655440000"
                },
                "jsonrpc": {
                  "type": "string",
                  "pattern": "2\\.0",
                  "x-nullable": false,
                  "example": "2.0"
                },
                "method": {
                  "type": "string",
                  "enum": [
                    "v1.offer-statuses.list"
                  ],
                  "x-nullable": false,
                  "example": "v1.offer-statuses.list"
                },
                "params": {
                  "type": "object",
                  "x-nullable": false,
                  "example": {}
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/OfferStatusesListResponseBody"
          }
        }
      }
    },
    "/v1/offers.approve": {
      "post": {
        "tags": [
          "jsonrpc2"
        ],
        "operationId": "v1.offers.approve",
        "parameters": [
          {
            "type": "string",
            "name": "Authorization",
            "in": "header"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "jsonrpc",
                "id",
                "method",
                "params"
              ],
              "properties": {
                "id": {
                  "type": "string",
                  "maxLength": 36,
                  "minLength": 36,
                  "x-nullable": false,
                  "example": "550e8400-e29b-41d4-a716-446655440000"
                },
                "jsonrpc": {
                  "type": "string",
                  "pattern": "2\\.0",
                  "x-nullable": false,
                  "example": "2.0"
                },
                "method": {
                  "type": "string",
                  "enum": [
                    "v1.offers.approve"
                  ],
                  "x-nullable": false,
                  "example": "v1.offers.approve"
                },
                "params": {
                  "$ref": "#/definitions/OffersApproveRequestBody"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/OffersApproveResponseBody"
          }
        }
      }
    },
    "/v1/offers.list": {
      "post": {
        "tags": [
          "jsonrpc2"
        ],
        "operationId": "v1.offers.list",
        "parameters": [
          {
            "type": "string",
            "name": "Authorization",
            "in": "header"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "jsonrpc",
                "id",
                "method",
                "params"
              ],
              "properties": {
                "id": {
                  "type": "string",
                  "maxLength": 36,
                  "minLength": 36,
                  "x-nullable": false,
                  "example": "550e8400-e29b-41d4-a716-446655440000"
                },
                "jsonrpc": {
                  "type": "string",
                  "pattern": "2\\.0",
                  "x-nullable": false,
                  "example": "2.0"
                },
                "method": {
                  "type": "string",
                  "enum": [
                    "v1.offers.list"
                  ],
                  "x-nullable": false,
                  "example": "v1.offers.list"
                },
                "params": {
                  "$ref": "#/definitions/OffersListRequestBody"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/OffersListResponseBody"
          }
        }
      }
    },
    "/v1/order-item-statuses.list": {
      "post": {
        "tags": [
          "jsonrpc2"
        ],
        "operationId": "v1.order-item-statuses.list",
        "parameters": [
          {
            "type": "string",
            "name": "Authorization",
            "in": "header"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "jsonrpc",
                "id",
                "method",
                "params"
              ],
              "properties": {
                "id": {
                  "type": "string",
                  "maxLength": 36,
                  "minLength": 36,
                  "x-nullable": false,
                  "example": "550e8400-e29b-41d4-a716-446655440000"
                },
                "jsonrpc": {
                  "type": "string",
                  "pattern": "2\\.0",
                  "x-nullable": false,
                  "example": "2.0"
                },
                "method": {
                  "type": "string",
                  "enum": [
                    "v1.order-item-statuses.list"
                  ],
                  "x-nullable": false,
                  "example": "v1.order-item-statuses.list"
                },
                "params": {
                  "$ref": "#/definitions/OrdersIdRequestBody"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/OrderItemStatusesListResponseBody"
          }
        }
      }
    },
    "/v1/order-pack-numbers.get": {
      "post": {
        "tags": [
          "jsonrpc2"
        ],
        "operationId": "v1.order-pack-numbers.get",
        "parameters": [
          {
            "type": "string",
            "name": "Authorization",
            "in": "header"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "jsonrpc",
                "id",
                "method",
                "params"
              ],
              "properties": {
                "id": {
                  "type": "string",
                  "maxLength": 36,
                  "minLength": 36,
                  "x-nullable": false,
                  "example": "550e8400-e29b-41d4-a716-446655440000"
                },
                "jsonrpc": {
                  "type": "string",
                  "pattern": "2\\.0",
                  "x-nullable": false,
                  "example": "2.0"
                },
                "method": {
                  "type": "string",
                  "enum": [
                    "v1.order-pack-numbers.get"
                  ],
                  "x-nullable": false,
                  "example": "v1.order-pack-numbers.get"
                },
                "params": {
                  "$ref": "#/definitions/GetOrderPackNumbersBody"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetOrderPackNumbersResponseBody"
          }
        }
      }
    },
    "/v1/order-statuses.list": {
      "post": {
        "tags": [
          "jsonrpc2"
        ],
        "operationId": "v1.order-statuses.list",
        "parameters": [
          {
            "type": "string",
            "name": "Authorization",
            "in": "header"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "jsonrpc",
                "id",
                "method",
                "params"
              ],
              "properties": {
                "id": {
                  "type": "string",
                  "maxLength": 36,
                  "minLength": 36,
                  "x-nullable": false,
                  "example": "550e8400-e29b-41d4-a716-446655440000"
                },
                "jsonrpc": {
                  "type": "string",
                  "pattern": "2\\.0",
                  "x-nullable": false,
                  "example": "2.0"
                },
                "method": {
                  "type": "string",
                  "enum": [
                    "v1.order-statuses.list"
                  ],
                  "x-nullable": false,
                  "example": "v1.order-statuses.list"
                },
                "params": {
                  "$ref": "#/definitions/OrdersIdRequestBody"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/OrderStatusesListResponseBody"
          }
        }
      }
    },
    "/v1/order.reset": {
      "post": {
        "tags": [
          "internal api"
        ],
        "operationId": "v1.order.reset",
        "parameters": [
          {
            "type": "string",
            "name": "Authorization",
            "in": "header"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "jsonrpc",
                "id",
                "method",
                "params"
              ],
              "properties": {
                "id": {
                  "type": "string",
                  "maxLength": 36,
                  "minLength": 36,
                  "x-nullable": false,
                  "example": "550e8400-e29b-41d4-a716-446655440000"
                },
                "jsonrpc": {
                  "type": "string",
                  "pattern": "2\\.0",
                  "x-nullable": false,
                  "example": "2.0"
                },
                "method": {
                  "type": "string",
                  "enum": [
                    "v1.order.reset"
                  ],
                  "x-nullable": false,
                  "example": "v1.order.reset"
                },
                "params": {
                  "$ref": "#/definitions/JsonRpcV1OrderResetRequestBody"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/JsonRpcV1OrderResetResponseBody"
          }
        }
      }
    },
    "/v1/order/item.list": {
      "post": {
        "tags": [
          "internal api"
        ],
        "operationId": "v1.order.item.list",
        "parameters": [
          {
            "type": "string",
            "name": "Authorization",
            "in": "header"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "jsonrpc",
                "id",
                "method",
                "params"
              ],
              "properties": {
                "id": {
                  "type": "string",
                  "maxLength": 36,
                  "minLength": 36,
                  "x-nullable": false,
                  "example": "550e8400-e29b-41d4-a716-446655440000"
                },
                "jsonrpc": {
                  "type": "string",
                  "pattern": "2\\.0",
                  "x-nullable": false,
                  "example": "2.0"
                },
                "method": {
                  "type": "string",
                  "enum": [
                    "v1.order.item.list"
                  ],
                  "x-nullable": false,
                  "example": "v1.order.item.list"
                },
                "params": {
                  "$ref": "#/definitions/V1OrderItemListParams"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/V1OrderItemListResponseBody"
          }
        }
      }
    },
    "/v1/orders-count-by-statuses.get": {
      "post": {
        "tags": [
          "orders"
        ],
        "operationId": "v1.orders-count-by-statuses.get",
        "parameters": [
          {
            "type": "string",
            "name": "Authorization",
            "in": "header"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "jsonrpc",
                "id",
                "method",
                "params"
              ],
              "properties": {
                "id": {
                  "type": "string",
                  "maxLength": 36,
                  "minLength": 36,
                  "x-nullable": false,
                  "example": "550e8400-e29b-41d4-a716-446655440000"
                },
                "jsonrpc": {
                  "type": "string",
                  "pattern": "2\\.0",
                  "x-nullable": false,
                  "example": "2.0"
                },
                "method": {
                  "type": "string",
                  "enum": [
                    "v1.orders-count-by-statuses.get"
                  ],
                  "x-nullable": false,
                  "example": "v1.orders-count-by-statuses.get"
                },
                "params": {
                  "$ref": "#/definitions/OrdersCountByStatusesRequestBody"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/OrdersCountByStatusesResponseBody"
          }
        }
      }
    },
    "/v1/orders.get": {
      "post": {
        "tags": [
          "jsonrpc2"
        ],
        "operationId": "v1.orders.get",
        "parameters": [
          {
            "type": "string",
            "name": "Authorization",
            "in": "header"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "jsonrpc",
                "id",
                "method",
                "params"
              ],
              "properties": {
                "id": {
                  "type": "string",
                  "maxLength": 36,
                  "minLength": 36,
                  "x-nullable": false,
                  "example": "550e8400-e29b-41d4-a716-446655440000"
                },
                "jsonrpc": {
                  "type": "string",
                  "pattern": "2\\.0",
                  "x-nullable": false,
                  "example": "2.0"
                },
                "method": {
                  "type": "string",
                  "enum": [
                    "v1.orders.get"
                  ],
                  "x-nullable": false,
                  "example": "v1.orders.get"
                },
                "params": {
                  "$ref": "#/definitions/OrdersIdRequestBody"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/OrdersGetResponseBody"
          }
        }
      }
    },
    "/v1/orders.list": {
      "post": {
        "tags": [
          "jsonrpc2"
        ],
        "operationId": "v1.orders.list",
        "parameters": [
          {
            "type": "string",
            "name": "Authorization",
            "in": "header"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "jsonrpc",
                "id",
                "method",
                "params"
              ],
              "properties": {
                "id": {
                  "type": "string",
                  "maxLength": 36,
                  "minLength": 36,
                  "x-nullable": false,
                  "example": "550e8400-e29b-41d4-a716-446655440000"
                },
                "jsonrpc": {
                  "type": "string",
                  "pattern": "2\\.0",
                  "x-nullable": false,
                  "example": "2.0"
                },
                "method": {
                  "type": "string",
                  "enum": [
                    "v1.orders.list"
                  ],
                  "x-nullable": false,
                  "example": "v1.orders.list"
                },
                "params": {
                  "$ref": "#/definitions/OrdersListRequestBody"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/OrdersListResponseBody"
          }
        }
      }
    },
    "/v1/partner.list": {
      "post": {
        "tags": [
          "jsonrpc2"
        ],
        "operationId": "v1.partner.list",
        "parameters": [
          {
            "type": "string",
            "name": "Authorization",
            "in": "header"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "jsonrpc",
                "id",
                "method",
                "params"
              ],
              "properties": {
                "id": {
                  "type": "string",
                  "maxLength": 36,
                  "minLength": 36,
                  "x-nullable": false,
                  "example": "550e8400-e29b-41d4-a716-446655440000"
                },
                "jsonrpc": {
                  "type": "string",
                  "pattern": "2\\.0",
                  "x-nullable": false,
                  "example": "2.0"
                },
                "method": {
                  "type": "string",
[...]
